#menu{
    color: white;
    background-color: black;
    text-align: left;
    font-family: verdana,sans-serif;
    height: 50px
}
a{
    color: white;
    background-color: black;
}
.breadcrumb{
    background-color: black;
}
#txtBuscar{
    display: inline;
}
#btnBuscar{
    display: inline;
}
