<div class="row" id="informativos">
    <div class="col-md-4">
        <h3>Informativo 1</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            Quem manda na minha terra sou euzis! Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu
            levo! Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
    </div>
    <div class="col-md-4">
        <h3>Informativo 2</h3>
        <p>Cevadis im ampola pa arma uma pindureta. Diuretics paradis num copo é motivis de denguis. Mauris nec dolor in
            eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Suco de cevadiss, é um leite divinis,
            qui tem lupuliz, matis, aguis e fermentis.</p>
    </div>
    <div class="col-md-4">
        <h3>Informativo 3</h3>
        <p>Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Suco de cevadiss
            deixa as pessoas mais interessantis. Sapien in monti palavris qui num significa nadis i pareci latim. Viva
            Forevis aptent taciti sociosqu ad litora torquent.</p>
    </div>
</div>
